# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/*
!build/
!build/*.sh
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Project specific
*.sif
model_cache/
.env
.pytest_cache/
slurm_output/
backups/
input_ids*/
ingestion/
ingestion_*/
inputs/
merged/
runs/
test_runs/
untracked_backups/
*root_owned_backup/
utils/models/
